[project]
	description = Full and up-to-date source code of the chapters of the 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/dylanp14
[access "refs/for/refs/*"]
	read = group user/dylanp14
	push = group user/dylanp14
	label-Code-Review = -2..+2 group user/dylanp14
	label-Verified = -1..+1 group user/dylanp14
	rebase = group user/dylanp14
	removeReviewer = group user/dylanp14
	submit = group user/dylanp14
[access "refs/heads/*"]
	read = group user/dylanp14
	create = group user/dylanp14
	push = +force group user/dylanp14
	pushMerge = group user/dylanp14
[access "refs/tags/*"]
	push = group user/dylanp14
	push = +force group user/dylanp14
